<a href="https://colab.research.google.com/github/juyoung524/22-1-Spring-/blob/main/20220328(%EA%B3%BC%EC%A0%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [3]:
URL = ('http://apis.data.go.kr/6260000/BusanTblFnrstrnStusService/'
'getTblFnrstrnStusInfo?'
'serviceKey=JLSeGuX9n3W0EMfx1ajNjY3tb7UDmE0ktk7OnePFxnckUei%2FYuA8GEI8omQVAWXSPwvWy09fPyxyU13K5XnMVw%3D%3D'
'&numOfRows=10&pageNo=1'
'&resultType=json')
response = requests.get(URL)

In [4]:
response

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

In [6]:
print(type(r))

<class 'dict'>

In [15]:
items = r['getTblFnrstrnStusInfo']['item']
items

[{'addrJibun': '부산광역시 해운대구 중동 1225-5',
  'addrRoad': '부산광역시 해운대구 해운대해변로 329-2 (중동, 2,3층)',
  'bsnsCond': '복어취급',
  'bsnsNm': '초원복국',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16288958',
  'lng': '129.1659385',
  'menu': '복국',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-743-5291'},
 {'addrJibun': '부산광역시 해운대구 중동 1394-65',
  'addrRoad': '부산광역시 해운대구 중동1로43번길 23 (중동, 1~2층)',
  'bsnsCond': '복어취급',
  'bsnsNm': '금수복국',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16241675',
  'lng': '129.1644938',
  'menu': '복국',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-742-3600'},
 {'addrJibun': '부산광역시 해운대구 중동 1394-64',
  'addrRoad': '부산광역시 해운대구 중동2로 5 (중동, 1층)',
  'bsnsCond': '한식',
  'bsnsNm': '기장식당',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16254039',
  'lng': '129.164759',
  'menu': '가자미찌개',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-743-4944'},
 {'addrJibun': '부산광역시 해운대구 우동 1458',
  'addrRoad': '부산광역시 해운대구 센텀중앙로 97(재송동, 센텀스카이비즈 지하1층 C-B 107호',
  'bsnsCond': '한식',
  'bsnsNm': '남도',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.1751303',
  'lng': '129.124875',
  'menu': '고등어구이',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-905-9292'},
 {'addrJibun': '부산광역시 해운대구 반여동 870-1',
  'addrRoad': '부산광역시 해운대구 선수촌로 184 (반여동, 지상1층)',
  'bsnsCond': '탕류(보신용)',
  'bsnsNm': '남해돼지국밥',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.20898505',
  'lng': '129.1241611',
  'menu': '국밥류',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-523-0468'},
 {'addrJibun': '부산광역시 해운대구 중동 1318-5',
  'addrRoad': '부산광역시 해운대구 좌동로10번길 21 (중동, 지상2층)',
  'bsnsCond': '일식',
  'bsnsNm': '덴포라',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16735613',
  'lng': '129.1701187',
  'menu': '바다가재',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-742-0633'},
 {'addrJibun': '부산광역시 해운대구 우동 1435 ',
  'addrRoad': '부산광역시 해운대구 마린시티3로 23 (우동, 벽산e오렌지상가 320호 - 325호 )',
  'bsnsCond': '한식',
  'bsnsNm': '동백삼계탕',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.15664443',
  'lng': '129.1469274',
  'menu': '삼계탕',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-900-9933'},
 {'addrJibun': '부산광역시 해운대구 우동 1072-38',
  'addrRoad': '부산광역시 해운대구 해운대로469번길 142 (우동)',
  'bsnsCond': '한식',
  'bsnsNm': '수비가든',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16869453',
  'lng': '129.1413557',
  'menu': '오리구이',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-742-8998'},
 {'addrJibun': '부산광역시 해운대구 중동 1380-4',
  'addrRoad': '부산광역시 해운대구 구남로29번길 35 (중동, 2층)',
  'bsnsCond': '한식',
  'bsnsNm': '신토불이보쌈',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16281775',
  'lng': '129.1621616',
  'menu': '보쌈',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-731-1441'},
 {'addrJibun': '부산광역시 해운대구 우동 1496 롯데백화점센텀시티점',
  'addrRoad': '부산광역시 해운대구 센텀남대로 59 (우동, 롯데백화점센텀시티점6층)',
  'bsnsCond': '중국식',
  'bsnsNm': '얌차이나',
  'bsnsSector': '일반음식점',
  'dataDay': '2020-04-28',
  'gugun': '부산광역시 해운대구',
  'lat': '35.16985471',
  'lng': '129.1310752',
  'menu': '중화요리',
  'ovrdDate': '2020-11-26',
  'specDate': '2020-11-26',
  'tel': '051-730-3903'}]

List Comprehension 적극적으로 이용

In [16]:
addrJibun = [item['addrJibun'] for item in items]
addrRoad = [item['addrRoad'] for item in items]
bsnsCond = [item['bsnsCond'] for item in items]
bsnsNm = [item['bsnsNm'] for item in items]
bsnsSector = [item['bsnsSector'] for item in items]
gugun = [item['gugun'] for item in items]
menu = [item['menu'] for item in items]
tel = [item['tel'] for item in items]

addrJibun = pd.Series(addrJibun)
addrRoad = pd.Series(addrRoad)   
bsnsCond = pd.Series(bsnsCond)
bsnsNm = pd.Series(bsnsNm)
bsnsSector = pd.Series(bsnsSector)
gugun = pd.Series(gugun)
menu = pd.Series(menu)
tel = pd.Series(tel)

df = pd.DataFrame({ 'addrJibun': addrJibun, 'addrRoad': addrRoad, 'bsnsCond': bsnsCond, 'bsnsNm': bsnsNm, 'bsnsSector': bsnsSector, 'gugun': gugun, 'menu': menu, 'tel': tel})

In [17]:
df

,addrJibun,addrRoad,bsnsCond,bsnsNm,bsnsSector,gugun,menu,tel
0,부산광역시 해운대구 중동 1225-5,"부산광역시 해운대구 해운대해변로 329-2 (중동, 2,3층)",복어취급,초원복국,일반음식점,부산광역시 해운대구,복국,051-743-5291
1,부산광역시 해운대구 중동 1394-65,"부산광역시 해운대구 중동1로43번길 23 (중동, 1~2층)",복어취급,금수복국,일반음식점,부산광역시 해운대구,복국,051-742-3600
2,부산광역시 해운대구 중동 1394-64,"부산광역시 해운대구 중동2로 5 (중동, 1층)",한식,기장식당,일반음식점,부산광역시 해운대구,가자미찌개,051-743-4944
3,부산광역시 해운대구 우동 1458,"부산광역시 해운대구 센텀중앙로 97(재송동, 센텀스카이비즈 지하1층 C-B 107호",한식,남도,일반음식점,부산광역시 해운대구,고등어구이,051-905-9292
4,부산광역시 해운대구 반여동 870-1,"부산광역시 해운대구 선수촌로 184 (반여동, 지상1층)",탕류(보신용),남해돼지국밥,일반음식점,부산광역시 해운대구,국밥류,051-523-0468
5,부산광역시 해운대구 중동 1318-5,"부산광역시 해운대구 좌동로10번길 21 (중동, 지상2층)",일식,덴포라,일반음식점,부산광역시 해운대구,바다가재,051-742-0633
6,부산광역시 해운대구 우동 1435,"부산광역시 해운대구 마린시티3로 23 (우동, 벽산e오렌지상가 320호 - 325호 )",한식,동백삼계탕,일반음식점,부산광역시 해운대구,삼계탕,051-900-9933
7,부산광역시 해운대구 우동 1072-38,부산광역시 해운대구 해운대로469번길 142 (우동),한식,수비가든,일반음식점,부산광역시 해운대구,오리구이,051-742-8998
8,부산광역시 해운대구 중동 1380-4,"부산광역시 해운대구 구남로29번길 35 (중동, 2층)",한식,신토불이보쌈,일반음식점,부산광역시 해운대구,보쌈,051-731-1441
9,부산광역시 해운대구 우동 1496 롯데백화점센텀시티점,"부산광역시 해운대구 센텀남대로 59 (우동, 롯데백화점센텀시티점6층)",중국식,얌차이나,일반음식점,부산광역시 해운대구,중화요리,051-730-3903

In [ ]:
def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://14609.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)