<a href="https://colab.research.google.com/github/juyoung524/22-1-Spring-/blob/main/20220309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0309** **영어음성학응용**

1) 변수: variables

2) 문법: syntax
A. 조건 (if) B. 반복 (for) 3) 함수: function 4) 패키지 (=library): 특정 목적으로 여러 함수들을 잘 모아놓은 것을 패키지라고 부름 (통계, 시각화, AI, 머신러닝, 사운드를 위한 패키지가 있음. 패키지 공부하면 끝나는 것이다)

A. Packages -> import


String: variable 중 하나임. 그 중 또 중요하기 때문에 따로 빼서 파일로 만든 것임

Packages 들어가 보면 뭐 배우게 될지 나옴

이 정도는 배웠으면 좋겠다 하는 패키지 이름들 모아놓음.

Basic python packages라고 검색하면 most popular python packages 나옴

아주 popular해서 우리가 했으면 좋겠다 하는 것들

**Numpy**- 숫자를 다루려면 numpy를 이용해야 함- 행렬화, 구조화하기 위함 (여러 가지 수치 관련된 게 여기 들어 있음. AI, data science 하려면 이거 꼭 필요함)

**Pandas**: 엑셀 파일 처리하는 것. 테이블 형태로 된 데이터 어떻게 부르고, 쓰고 하는 것 (manipulate하는 방식들)

**Matplotlib**: ‘matlab’라는 공학자들이 쓰는 것. 이 프로그램에서 visualize를 잘 하고 있음. 거기 있는 것과 유사하게 plotting을 잘 해 주는 library라는 뜻

**Scikit-learn: regression **(머신러닝에 많이 쓰임) 필수적이고 기본적인 패키지로 알고 있어야 함

**Urllib3**: url 가지고 우리가 웹을 통해서 얻을 수 있는 것들.

**NLTK**: 어문계열 학생들에게 거의 필수적임. 이거 하나만 확실히 해도 취직하는 데 아주 도움이 될 것임.텍스트 처리하는 모든 게 다 들어 있음.

**Pillow**: 이미지, 사진 파일들 어떻게 불러오고, 조작하고 하는 것들 해주는 곳임

**Librosa**: 사운드 관련된 것임. 우리 수업이 ‘음성학’이니까 소리 어떻게 불러서 조작하고, 출력하는지 관련된 것임. 이 프로그램에서 다룰 것이다

수업 시간에 기본적인 것들 다 다룰 것임. 처음에 import해온다. (가져오는 역할을 함)

Programming Language: 모든 language는 기본적으로 ‘word’이다. Words로 이루어져 있음 한 word는 ‘meaning/content’, 뜻을 가지고 있음 (word-meaning mapping되어 있는 것) 쓰는 일반 language는 ‘word’가 핵심 프로그래밍 language도 똑같음. ‘word’에 해당되는 게 ‘variable’(변수)

Var=3

변수에 어떤 내용을 assign하는 것이 word 하나를 만드는 것이라고 생각하면 됨 Word만 있으면 안됨. Word들을 어떻게든 조합을 해야 함. 조합하는 방식을 ‘문법’, syntax라고 함 Word + Syntax가 있으면 language가 되는 것
Syntax 중에서 기본이 되는 게
1) 조건문 (if)
2) 반복 (for)

은 저장소이기 때문에 edit하거나 실행할 수 없음. 그건 Colab라는 데 가서 해야 함 클릭하면 코딩 내용과 함께 Colab으로 가게 됨

In [1]:
a = 1; print(type(a))

<class 'int'>

a에 뭐가 들어있는지 우리는 모름.
왼쪽에 {x} 누르면 a에 1이란 거 넣었다는 것을 알 수 있음.

In [2]:
b=1

In [3]:
print(b)

1

변수(variables): 모든 변수는 숫자와 글자로 구성됨. (어떤 코딩이든)

1) Numbers
2) String

Int: 숫자는 숫잔데, 소수점 안 달았으니까 ‘정수’라는 뜻임 Number 중에서는 int (정수)를 배움 정수 말고 ‘실수’도 있음

In [4]:
b=3

In [5]:
print(b)

3

In [6]:
print(a)

1

In [7]:
a = 1.1; print(type(a))

<class 'float'>

Float: 소수점이 있는 실수를 의미함 ‘1.0’은 실수임 (1과 1.0은 다름) Value = 가지고 있는 Content를 의미함

In [8]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

Int, Float 타입 봄 String: ‘Quote’가 되어 있으면 string이 되는 것임 (숫자가 있더라도)

List 변수: 숫자 / 문자 / list (다른 게 아니라, 여러 개 담을 때 쓰는 것임) 숫자 1, 문자 i담기가 가능했음 List = [~, ~…] (숫자, 문자 모두 들어갈 수 있음)

In [9]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [10]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

a라는 아이템이 유형이 list가 됨

네 아이템 한꺼번에 들고다닐 수도 있지만, 부분적으로 쓸 수도 있음 (indexing)

In [11]:
a[:]

[1, 2, 3, 4]

A[0]: python에서는 0번째부터 시작함. 0번째를 가져와라 (a의 0번째) A[2] (a의 2번째) Print 안 해도 나옴.

제일 마지막줄에 있는 것은 print 안 해도 print 한 효과가 있음

:는 전부 다 라는 뜻
a[:]라고 하면 전부 다

처음부터 끝까지 할 때 a[:]라고 표기 a[1:5] = [2, 3, 4, 5] 만약 처음부터 5까지 하고 싶으면

a[:5] = [1, 2, 3, 4, 5] a[1:-1] (끝에서 하나 뺀 거): [2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a[1:-1]

[2, 3]

In [13]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [14]:
a[2][0]

3

List 안에 숫자, string, list가 모두 들어 있음 (list 안의 또 다른 list가 들어있는 것임)

In [15]:
a='abcdef123'

일부만 들고 가려고 할 때 똑같이 string의 맵으로 들어가서 index하면 됨

In [16]:
type(a)

str

In [17]:
a[:3] #처음부터 0, 1, 2 (3 포함 안함)

'abc'

In [18]:
a[3:-1]

'def12'

list와 string은 index하는 방법이 똑같음. 콜론 사용하는 방법에 익숙해 지길

In [19]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a = [1, 2, 3]

이렇게 하면 tuple이 되는 것

list와 tuple은 모든 게 똑같음.

In [21]:
a[1] = 0

In [23]:
a = (1, 2, 3)
#tuple로 바꿔봄

In [24]:
a[1] = 0

TypeError: ignored

다만, tuple은 item을 assign해서 내부 바꾸는 게 안된다! 라는 error가 뜸. 사람들이 코딩하다 실수로 지울까봐 이런 식으로 담아둠

In [25]:
print(a)

(1, 2, 3)

In [26]:
print(a[1]+a[2])

5

access하고 더하는 건 되는데, 내부적인 information 바꾸는 건 안됨

In [27]:
print(a)

(1, 2, 3)

숫자

String

list (= tuple): a(1, 2, 3) ‘tuple’은 item을 assign해서 내부 바꾸는 것을 못 함

사람들이 실수로 중요한 정보 담아놨는데 코딩하다가 지울까봐 이런 식으로 담아둠.

그 외에는 똑 같은 거라고 생각하면 됨 괄호로 똑같이 할 수 있는데, secure하기 위해서 만든 게 ‘tuple’ Dict: 제일 어려운데 하다 보면 쉬워짐

In [28]:
a = {"a": "apple", "b": "orange", "c": 2014}

Dictionary는 표제어와 그것에 대한 설명이 있음 (쌍으로 되어 있음) 키워드와 그것에 대한 설명으로 이루어짐 (Key & Value)

다 single quote로 바꿔도 상관 없음

quote 달거나, key에 숫자 오는 건 괜찮음.

In [29]:
a["c"]

2014

In [30]:
a =	{123: "apple", "b": "orange", "c": 2014}
print(type(a))

<class 'dict'>

순서가 아니라 앞에 있는 'key' 값이 access할 수 있는 열쇠임
숫자, 문자 중 어떤 것이 와도 상관 없음 (순서 하면 error 뜸)

In [31]:
a[123]

'apple'

In [32]:
print(type(a)); print(a["b"])

<class 'dict'>
orange

Print(type(a)), print(a[‘ba’]) 실행을 두 개 할 때 semicolon 주로 사용함

다음 시간에는 For, if, syntax에 대해서 배우게 될 것 임 (list 안에서 for 쓰는 법 등)