<a href="https://colab.research.google.com/github/juyoung524/22-1-Spring-/blob/main/20220314_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Syntax:
반복문(for, while)
조건문(if, switch)
지금은 for와 if만 필히 알자! 사실상 syntax의 전부임

In [2]:
a = [1, 2, 3, 4]
for i in a:
    print(i)


#for 밑에 저런 식으로 indent를 해야 함 (띄워줘야 함)
#a에 있는 것들을 (in a) i로 '처음부터 하나하나씩' 받아서 i에 넣고 돌린다

1
2
3
4

A = [1, 2, 3, 4]
For    in  a:  -> For loop라고 부름 (a 개수에 맞게 네 번 돌림)

띄워진 사이에 있는 것들은 for 안에 있는 것으로 해석

처음부터 하나씩 받아서 올린다

A에서 하나하나씩 받아서 i에 넣고 돌린다

Print(i)하면 네 번 돌아가는 것임

In [5]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [4]:
range(4)

range(0, 4)

range 안에 list가 만들어지는 것

range(4)하면 [0,1,2,3] 0부터 시작되는 list가 만들어진다고 생각하면 됨

For I in range(len(a)))

Range(4)가 만들어내는 것이 [0 1 2 3]의 list가 만들어진다고 생각하면 됨

I에 첫 번쨰부터 들어가서 0, 1, 2, 3 들어감

print(a[0])

range(4)

따로 range 쓰지는 않음. For in 다음에 뜸
List가 만들어짐

range 안에 [0, 1, 2, 3] 리스트 만들어짐

Range(4)는 [0, 1, 2, 3]에 해당되는 index가 만들어진다고 생각하면 됨

In [6]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [7]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

#여기서 len(a)는 4과 같음

red
green
blue
purple

In [12]:
a = 0
if a != 0:
    print(a)
#if의 하위라는 것 알게 하기 위해 또 indent를 꼭 줘야 함

else:
    print(a+1)

1

a=[‘red’, ‘green’, ‘blue’, ‘purple’]

a=0 (오른쪽이 왼쪽에 0을 assign하는 것임)

If a==0: (a가 0과 같다면. 실제로 같다는 것은 ==로 표기해야 함)

Print를 해라

Else:
Print(a+1)

아니라면 !로 표기함

0이 아니라면 print a, else print a+1이니까 1이 나옴

In [13]:
for i in range(1, 3):
              #[1,2]

#[1, 2] (3은 제외)
#range(3,5) -> [3, 4,]

    for j in range(3, 5):
        print(i*j)

3
4
6
8

For 하나만 썼음. 근데 for 중첩해서 쓸 수 있음
For I in range(1,3):

for i in range(1, 3):
        if j >=4:
            print(i*j)

J가 4보다 같거나 클 때만 print하라
4, 8 두 개 나옴

In [14]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

List comprehension:

a = [1, 2, 3, 4]

b = [i for i in a if i >=2]

b

For와 if가 list 안쪽으로 들어옴

A에 있는 것은 하나하나씩 i로 받는다

[2, 3, 4] list 안에 for loop 넣어서 정교하고, advanced 된 방법임

a = ['red', 'green', 'blue', 'purple']

b = [i for i in a if len(i) >=4]

b

red부터 넣고, red가 길이가 4보다 크냐 (X, if 절 통과하지 못함)

green, blue, purple 통과. 따라서 b에 남게 되는 list: [‘green’, ‘blue’, ‘purple’]

In [15]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [16]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

Dict comprehension: (난해하니까 잘 봐두기)

a = ['red', 'green', 'blue', 'purple']

b = [1, 2, 3, 4]

c = {a[i]:b[i] for i in range(4)}

c

range(4): [0, 1, 2, 3]

pairwise로 만들어짐

{‘blue’:3, ‘green’:2, ‘purple’:4, ‘red’:1}

Range(4) -> [0, 1, 2, 3]

Range(1, 3) -> [1, 2]

Range(3, 5) -> [3, 4]